.menu-container {
  display: flex;
  gap: 2rem;
}

.menu-container a {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--primary);
  color: var(--gray-100);
  padding: 1rem;
  border-radius: 0.8rem;
}
