.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.star-icon {
  color: var(--primary);
  width: 6.8rem;
  height: 6.8rem;
}

.logo-container span {
  color: var(--primary);
  font-size: 4.2rem;
  font-weight: 700;
  padding-top: 0.8rem;
}
