.label {
  color: var(--gray-900);
}

.input {
  width: 24rem;
  height: 4.2rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.2rem solid var(--primary);
  transition: all 0.1s ease-in-out;
  text-align: center;
  font-size: 1.8rem;
}

.input:focus {
  outline: none;
  border: 0.2rem solid var(--primary);
  border-radius: 0.8rem;
}

.input::placeholder {
  text-align: center;
  font-style: italic;
  font-size: 1.6rem;
}
