.footer {
  font-size: 1.2rem;
  text-align: center;
  color: var(--gray-900);
  margin-bottom: 4rem;
}

.footerLink {
  text-decoration: none;
  color: var(--gray-900);
}

.footerLink:hover {
  text-decoration: underline;
}
