.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24rem;
  height: 4.2rem;
  border: none;
  border-radius: 0.8rem;
  background-color: var(--primary);
  color: var(--gray-100);
}
