.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.formRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  margin: 4rem 0rem;
}

.nextCyclePreview {
  color: var(--gray-900);
}
